body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 5px;
    border:none;
    border-radius: 5px;
}
input:focus{
    outline: none;
    border: 0px solid;
    border-color: #3f00ff;
    box-shadow: 0px 0px 5px blue;
    
    
}

button {
    padding: 10px 20px;
    background: #3f00ff;
    color: white;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}



button:hover {
    background:hsl(210, 60%, 70%);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin-left: 10px;
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}